* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Reddit Sans", sans-serif;
  overflow-y: hidden;
}

nav > h1 {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

nav > h1 > img {
  height: 60px;
}

#container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(35, 95, 255, 1),
    rgba(0, 247, 149, 1)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 100px;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn:hover {
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn:active {
  letter-spacing: 3px;
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: scale(0.9);
}

.btn2 {
  background-color: hsl(261, 100%, 57%);
  color: #fff;
}

.code-section {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

.copy-clipboard {
  background-color: rgba(109, 105, 105, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.copy-clipboard:hover {
  transform: scale(1.1);
  transition: 200ms;
}
.copy-clipboard:active {
  transform: scale(0.97);
  transition: 200ms;
}

.toast-msg {
  display: none;
}

.show-toast {
  display: block;
  background-color: #fff;
  border: 3px solid springgreen;
  padding: 10px 15px;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  right: 5%;
  transition: right 10s ease;
}

.toast-msg i {
  color: springgreen;
  padding-right: 10px;
}
