* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(35, 95, 255, 1),
    rgba(0, 247, 149, 1)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 100px;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: scale(0.9);
}

.code-section{
    display: flex;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

.copy-clipboard{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.copy-clipboard > i:hover{
   transform: scale(1.2);
   transition: 200ms;
}
.copy-clipboard > i:active{
   transform: scale(0.97);
   transition: 200ms;
}
